@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AKAI Frontend Task - CSS

    Spróbuj zmodyfikować poniższy plik ze stylami tak, by upiększyć formularz na stronie.
    Jako inspiracji możesz skorzystać z szablonu znajdującego się w pliku img/layout.png
    Nie wymagamy, by wykonać identyczny layout. Liczy się kreatywność.

    Przy wykonywaniu zadania można zmienić strukturę pliku index.html.
    Pamiętaj, że w takim wypadku będzie trzeba zadbać o dostosowanie odpowiednich selektorów.

    Jeśli korzystasz z preprocessorów takich jak Sass/Less, również możesz się tym pochwalić.

    Powodzenia!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
Przeanalizuj składnię pliku .css.
Przy stylowaniu na najpierw podajemy, co chcemy ostylować, a następnie jakie atrybuty chcemy zmienić.
np. poniższy selektor (body) oznacza, że modyfikujemy kontent body w dokumencie html.
Żeby mieć pewność o czym mowa, zajrzyj w plik index.html, i znajdź tag <body>.
*/

body {
  /*
  wszystko co znajduje się pomiędzy nawiasami klamrowymi, to nasze polecenia modyfikujące określony element dokumentu
  Poniżej zmieniamy atrybut font-family, który jest odpowiedzialny za wyświetlaną na stronie czcionkę
  Zastanów się, czy Comic Sans jest odpowiedni.
  Jeśli nie, wybierz inną czcionkę i zmodyfikuj poniższy tekst.
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;

  font-family: "Roboto", sans-serif, cursive;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      30% 30% at 98% 1%,
      #152b50 0%,
      #073aff00 100%
    ),
    radial-gradient(40% 30% at 46% 3%, #152b50 0%, #073aff00 100%),
    radial-gradient(30% 30% at -2% 98%, #1d1e22 0%, #073aff00 100%),
    radial-gradient(50% 35% at -17% 53%, #ffffffff 0%, #073aff00 100%),
    radial-gradient(30% 40% at 63% 102%, #1d1e22 0%, #073aff00 100%),
    radial-gradient(40% 40% at 105% 93%, #1d1e22 2%, #073aff00 100%),
    radial-gradient(50% 50% at 92% 71%, #5a504e 33%, #073aff00 100%),
    linear-gradient(180deg, #2f456e 1%, #596887 54%, #596887 86%, #596887 100%);
}

/*
selektor gwiazdki oznacza, że odnosimy się do konkretnego 'id' w pliku html.
w tym przypadku odnosimy się do id "task-frontend".
Zobacz, co się kryje pod tym id w pliku index.html.
*/

#task-frontend {
  /*
  pomiędzy nawiasami klamrowymi ponownie możemy modyfikować atrybuty wybranego elementu.
  Opiszę krótko, co dzieje się w poniższym przykładzie:
  */

  /*
  border modyfikuje obramowanie elementu. Obramowanie zawiera w sobie trzy atrybuty: grubość, styl i kolor.
  Można się do nich odnosić indywidualnie, albo do wszystkich na raz, tak jak jest to zrobione poniżej.
  Spróbuj dostosować obramowanie tak, żeby lepiej się prezentowało. Oczywiście, jeśli uważasz, że obramowanie nie jest potrzebne,
  możesz zrezygnować z modyfikacji tego atrybutu. Domyślnie elementy nie posiadają obramowania, więc wystarczy usunąć poniższą linię.
  */
  border-radius: 7%;

  /*
  max-width ustawia maksymalną szerokość dla wybranego elementu. Oznacza to, że element osiągnie co najwyżej taką szerokość.
  Natomiast jeśli nie będzie to możliwe (okno będzie mniejsze), to element skurczy się wraz z tym oknem.
  */
  min-width: calc(28% - 40px);
  max-width: calc(90% - 40px);
  min-height: calc(70vh - 40px);

  /*
  atrybut margin definiuje miejsce wolne poza obramowaniem elementu.
  margin jest jednym ze składowych bardzo ważnego pojęcia w CSS, które nazywamy Box Model.
  Zachęcam do poczytania więcej na ten temat, np. pod adresem:
  https://www.w3schools.com/css/css_boxmodel.asp

  W poniższym przypadku ustawiamy wartość margin na górze i dole równą 0, zaś po bokach 'auto' - co oznacza,
  że wartości po lewej i prawej będą obliczone przez przeglądarkę podczas renderowania strony, tak, aby margin-left i margin-right
  otrzymały taką samą wartość, co będzie skutowało tym, że element zostanie na stronie wycentrowany.
  */
  margin: 100px auto;
  padding: 40px;

  /*
  atrybut text-align definiuje horyzontalne umieszczenie (wyrównanie) tekstu.
  Wartość center oznacza, że chcemy umieścić tekst na środku.
  */
  text-align: center;
  color: #42597b;

  /*
  background-color definiuje kolor tła w elemencie.
  CSS zawiera prefediniowane wartości takie jak white, red, black, etc, ale można również tworzyć własne
  poprzez podanie odpowiedniej wartości rgba
  */
  background-color: rgba(191, 198, 205, 0.779);
  box-shadow: 0 0 5px 5px rgba(19, 19, 19, 0.4);

  /*
  zamykająca klamra oznacza, że kończymy modyfikować atrybuty danego elementu
  */
}

/*
jeśli widzisz dwa elementy (A, B) oddzielone spacją, oznacza to, że modyfikujemy wszystkie elementy B, które zawierają się w A.
W poniższym przypadku modyfikujemy wszystkie elementy z klasą "basic-title", które znajdują się w elemencie o id "task-frontend".
*/
#task-frontend .basic-title {
  /*
  atrybut 'color' definiuje kolor tekstu w elemencie.
  Zastanów się, czy kolor czerwony jest odpowiedni.
  Jeśli nie, zmodyfikuj poniższy tekst wedle własnego uznania.
  */
  font-weight: 400;
  font-size: 1.7rem;
  margin: 10px 0;
}

/*
podobna sytuacja występuje poniżej. Wybieramy wszystkie elementy z klasą 'form-line' znajdujące się w elemencie o id 'task-frontend'.
*/
#task-frontend .form-line {
  border: 1px solid blue;
}

/*
znasz już sposób definiowania selektorów.
Oczywiście nie przerobiliśmy jeszcze wszystkich. W związku z tym zachęcam Cię do zapoznania się z innymi selektorami, np. tutaj:
https://www.w3schools.com/cssref/css_selectors.asp
Chciałbym, byś przeanalizowała / przeanalizował poniższe style i zmodyfikować je według własnego uznania.
*/
form {
  margin: 40px 0;
}

#task-frontend .input {
  position: relative;
  margin: 15px 0;
}
#task-frontend .input label {
  position: absolute;
  left: 0.3em;
  top: 50%;
  opacity: 0.8;
  font-size: 1.1rem;
  transform: translateY(-50%) translateX(70px);
}

#task-frontend .input input {
  display: block;
  color: #42597b;
  margin: 0 auto;
  margin-top: 10px;
  padding: 12px 25px;
  border-radius: 30px;
  border: 0px;
  width: 70%;
  height: 30px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 0px 10px 0px rgba(66, 68, 90, 1);
  font-size: 1.2rem;
  font-weight: 300;
}

.input input:focus ~ label,
.input input:not(:placeholder-shown) ~ label {
  display: none;
}

#task-frontend span {
  display: block;
  font-size: 1.25rem;
  margin: 20px 0;
  margin-top: 30px;
}

#task-frontend .checkbox {
  padding: 5px 18%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 24%;
}

#task-frontend .checkbox div {
  text-align: start;
  display: flex;
}

#task-frontend .checkbox input {
  width: 16px !important;
  height: 16px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  box-shadow: none;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1em;
  background: #d9d9d9;
}
#task-frontend .checkbox input[type="checkbox"]:checked:after {
  content: "✔";
  color: #445b7e;
}

#task-frontend .checkbox .label {
  font-size: 1.2rem;
  margin-left: 5px;
}

#task-frontend input[type="submit"] {
  color: whitesmoke;
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 30px;
  border: 0px;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #42597b;
  box-shadow: 1px 1px 10px #000000;
  font-size: 1.2rem;
  font-weight: 300;
}

#task-frontend input[type="submit"]:hover {
  background: #31425c;
}

#alert-firstName,
#alert-lastName,
#alert-email,
#alert-section {
  color: red;
  display: none;
}
